.container {
    display: grid;
    width: 100%;
    padding: 32px;
    min-height: calc(100vh - 96px);
}

.container h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
  
.card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    margin-bottom: 100px;
}

.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    z-index: 1000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn_submit { 
    margin-right: 10px;
}

