#home {
    display: flex;
    min-height: calc(100vh - 96px);
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

.title {
    font-size: 4rem;
    color: #1d1d1d;
}

.title span {
    color: #e9a209;
}

.description {
    font-size: 1.2rem;
}

#cta-buttons {
    display: flex;
    gap: 24px;
}

#phone-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    padding: 8px 14px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}
